pipeline/Pause_or_Resume_PowerBI_Embedded.json
{
	"name": "Pause_or_Resume_PowerBI_Embedded",
	"properties": {
		"activities": [
			{
				"name": "GetCurrentTime",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "https://www.timeapi.io/api/Time/current/zone?timeZone=@{pipeline().parameters.TimeZone}",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET"
				}
			},
			{
				"name": "Check current time",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "GetCurrentTime",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@if(\n    equals(\n        activity('GetCurrentTime').output.hour, \n        pipeline().parameters.UpTime\n    ),\n    true , \n    false\n)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Pause Pipeline",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Pause_PowerBI_Embedded",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Resume Pipeline",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Resume_PowerBI_Embedded",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						}
					]
				}
			}
		],
		"parameters": {
			"SubscriptionId": {
				"type": "string",
				"defaultValue": "b2c447f4-0f0b-471d-a130-0c72330f08f2"
			},
			"resourceGroupName": {
				"type": "string",
				"defaultValue": "DataX-ResGroup"
			},
			"dedicatedCapacityName": {
				"type": "string",
				"defaultValue": "pbimbeddedpowerpages"
			},
			"TimeZone": {
				"type": "string",
				"defaultValue": "Etc/UTC"
			},
			"UpTime": {
				"type": "int",
				"defaultValue": 9
			}
		},
		"variables": {
			"Time": {
				"type": "String"
			}
		},
		"folder": {
			"name": "PowerBI"
		},
		"annotations": []
	}
}